.aboutContainer {
	width: 50%;
	margin: 1.25rem auto;
	display: flex;
	justify-content: center;
}

.profileImage {
	border-radius: 25%;
	background-color: #ccc;
	width: 12rem;
	height: 12rem;
}
@media (max-width: 767px) {
	.profileImage {
		width: 10rem;
		height: 10rem;
	}
}
@media (max-width: 550px) {
	.profileImage {
		width: 8rem;
		height: 8rem;
	}
}

.profileInfo {
	/* width: 40%; */
	margin-top: 20px;
	margin-left: 40px;
}

.profileName {
	font-weight: 600;
	font-size: 42px;
}

.profileBio {
	margin-top: 24px;
	font-size: 18px;
}

.locationInfo {
	margin-top: 24px;
	font-size: 14px;

	display: flex;
	align-items: center;
}

.instagramInfo {
	margin-top: 12px;
	font-size: 14px;

	display: flex;
	align-items: center;
}

.profileStats {
	display: flex;
	margin-top: 12px;
	font-size: 14px;
}

.profileStat {
	flex-basis: 69px;
	display: flex;
	align-items: center;
}
