.headerContainer {
	padding: 1rem;
	position: sticky;
	top: 0;
	z-index: 50;
	background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.navContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoLink {
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
}

.sectionText {
	font-size: 1.5rem;
	font-weight: 600;
}

.githubLink {
	text-decoration: none;
}
